[2020-01-12 12:44] evilsprut opened #2 "Implement the ability to run the module without decorators"

[2020-01-12 16:24] evilsprut opened #3 "Make it possible to use the decorator @TelegramActionHandler without message"
This code doesn't work:
[code]

[2020-01-12 18:19] evilsprut opened #4 "Write documentation"

[2020-01-13 16:57] Sedjj opened #5 "No implementation for Inline_keyboard callback_query"
[code]

I tried to use it like that and nothing happened((

[2020-01-13 18:45] evilsprut commented on #5
@Sedjj I tried your code and it's working as expected.

I made an example for you of using a module with your code in a [separate repository](https://github.com/bukhalo/nestjs-telegraf-sample). Your code can be found in [bot.service.ts](https://github.com/bukhalo/nestjs-telegraf-sample/blob/master/src/bot/bot.service.ts) the file.

[2020-01-14 14:35] Sedjj commented on #5
Thank you for the quick answer to my question, but unfortunately I did not convey the right thought.
If you replace the contents of ```bot.service.ts```
[code]

Then the ```debugLogs``` function will not be called on the ```test_callback``` response.

I'm interested in the ability to build logic for the answer with ```inline_keyboard```.

[2020-01-15 04:36] evilsprut commented on #5
@Sedjj Okay, now I get it. I'll release the update in a little while.

[2020-01-15 11:46] Sedjj commented on #5
Thank you, this will really save me from a problem that I’ve been tormenting for a long time.

[2020-01-15 14:39] evilsprut commented on #5
It's done. Update the package to [v0.7.0](https://github.com/bukhalo/nestjs-telegraf/releases/tag/v0.7.0) and close the issue if everything works properly. I also updated the repository with an example. https://github.com/bukhalo/nestjs-telegraf-sample/commit/300c268fa33cbb1aabd0be0436161e22dfc2e703

[2020-01-16 17:43] Sedjj commented on #5
Yes, it worked! Thanks for the quick decision. I really like your lib and will continue to use it.

[2020-01-16 17:43] #5 closed, assigned to nobody

[2020-01-22 15:45] lamuertepeluda opened #7 "Set bot public in TelegrafService"
Hi,

first thing, thanks a lot for this library.

I'm trying to add a middleware to the bot, but I see it is not accessible outside the TelegrafService.

Wouldn't it make sense to have `public readonly bot` [at this line](https://github.com/bukhalo/nestjs-telegraf/blob/master/lib/telegraf.service.ts#L20) instead of having it private?
Then it would be possible to call `bot.use` as [showed here](htt

[2020-01-22 19:54] evilsprut commented on #7
Hey @lamuertepeluda .

Unfortunately, this is a very early version of the module, so a lot of basic Telegraf functionality is not implemented.

I will think what can be done in future versions to make Telegraf middlewares convenient.

Be sure to write if you need anything. And thank you for the pull request.

[2020-01-23 08:44] lamuertepeluda commented on #7
You're more than welcome! So fare everything is good and setting the bot public allowed me to add some useful middlewares to the bot in the `onModuleInit` method of the `bot.module.ts` like this

[code]

Of course I added more useful middlewares like session or [some others listed here](https://telegraf.js.org/#/?id=known-middleware)

[2020-01-23 18:11] #7 closed, assigned to evilsprut

[2020-01-24 07:32] evilsprut commented on #4
Done in https://github.com/bukhalo/nestjs-telegraf/commit/37080937317f492cac9f7bbf57adfa755a648c0c

[2020-01-24 07:32] #4 closed, assigned to evilsprut

[2020-02-02 01:14] edgesite commented on #3
The empty string is false value so `handlers.filter(({ config }) => config.message)` filtered out `{message: ''}`. Use following code instead of
https://github.com/bukhalo/nestjs-telegraf/blob/cef3796f01c5086f6e8438876de5e828056c8056/lib/telegraf.service.ts#L99 may solve that:
[code]

[2020-02-29 18:59] #3 closed, assigned to evilsprut

[2020-02-29 19:11] evilsprut opened #33 "Catch not working in adoptHandle function if the decorator didn't take a promise"
This example will cause an error if the `reply` function is called without async/await:
[code]
Ref:
https://github.com/bukhalo/nestjs-telegraf/blob/acf60cc305a78036305a8efcf529bf20d1357025/lib/telegraf.service.ts#L155

[2020-03-19 13:24] evilsprut opened #40 "Stable release requirements"
- [x] Сover all Telegraf methods with decorators https://github.com/robotmafia-inc/nestjs-telegraf/pull/39
- [x] Upgrade NestJS on v7
- [x] Replace TSLint with ESLint
- [x] Remove unused Travis CI config

[2020-03-19 18:45] evilsprut commented on #33
Not actual, stable release coming #40

[2020-03-19 18:45] #33 closed, assigned to nobody

[2020-03-19 18:45] evilsprut commented on #2
Not actual, stable release coming #40

[2020-03-19 18:45] #2 closed, assigned to nobody

[2020-03-31 15:53] ghost opened #52 "Make TelegrafService injectable"

[2020-03-31 15:55] ghost commented on #40
Released https://github.com/robotmafia-inc/nestjs-telegraf/releases/tag/v1.0.1

[2020-03-31 15:55] #40 closed, assigned to evilsprut

[2020-04-24 10:47] evilsprut opened #62 "Implement webhook-mode support"

[2020-04-24 15:59] #62 closed, assigned to evilsprut

[2020-04-25 23:08] evilsprut opened #65 "Update telegraf package to v3.38.0"
Package can't be updated automatically https://github.com/bukhalo/nestjs-telegraf/pull/64, need fixes.

[2020-04-29 09:18] evilsprut commented on #5
@all-contributors please add @Sedjj for bug, ideas

[2020-04-29 09:23] evilsprut commented on #7
@all-contributors please add @lamuertepeluda for code, bug, ideas

[2020-04-29 09:26] evilsprut commented on #3
@all-contributors please add @edgesite for code, bug

[2020-04-29 09:27] ghost opened #72 "Implement scenes support"
Hey

Tried to use scenes, but got some errors.

Scene init:
[code]
But, when i tried to enter in:
[code]
Got this one: `Cannot read property 'enter' of undefined. `

[2020-04-29 09:29] evilsprut commented on #40
@all-contributors please add @bukhalo for business, code, doc, example, ideas, infra, maintenance, projectManagement, question, review, tutorial

[2020-04-29 09:33] evilsprut commented on #72
@VyacheslavSaloidWork I need a little time to answer this question.

@all-contributors please add @VyacheslavSaloidWork for bug

[2020-05-02 13:14] evilsprut commented on #72
Really, you can’t connect middleware by forwarding the arguments from `@TelegrafUse` function decorator. Temporary, you can connect middleware through getting `TelegrafProvider` from app context. This is shit, but it works 😁.

As example:
[code]

I fix that ASAP, thx.

[2020-05-03 09:55] #52 closed, assigned to evilsprut

[2020-05-03 09:55] #65 closed, assigned to evilsprut

[2020-05-03 10:05] evilsprut commented on #72
Now (in [v1.2.0](https://github.com/bukhalo/nestjs-telegraf/releases/tag/v1.2.0)) you can connect any middleware using a [`@InjectBot()`](https://github.com/bukhalo/nestjs-telegraf#bot-injection) decorator.

Try something like that:
[code]

[2020-05-03 10:05] #72 closed, assigned to nobody

[2020-05-06 15:26] ghost commented on #72
Thank you, man

It's really so helpful

[2020-09-08 19:25] evilsprut opened #118 "InjectBot decorator not working in modules"
Somewhere in `blablabla.update.ts` telegram bot controller:
[code]

Error:
[code]

[2020-09-24 10:08] evilsprut commented on #118
Fixed by https://github.com/bukhalo/nestjs-telegraf/commit/e2b81b0ad59a9fdfdb34e6bbe16c2e6f920e2f76

[2020-09-24 10:08] #118 closed, assigned to evilsprut

[2021-02-18 21:11] toolstik opened #277 "Bot should not launch when hosted in Express, Firebase etc."
Hello,

Thank you for that amazing project. It is exactly what I was looking for. But, it looks weird that the plugin launches bot in any case.

https://github.com/bukhalo/nestjs-telegraf/blob/26cc474726737cd1514773c7f30ed5d12995f3fc/lib/utils/create-bot-factory.util.ts#L10

For example, I'm running my bot on the Firebase and I don't need to launch the bot itself since all requests are handled by

[2021-02-18 21:32] evilsprut commented on #277
Hello, @toolstik! That's a great point, I really didn't think about the possibility of working in a serverless environment. It will take me a little time to think through how best to do it. I'll write later. PR's also welcome.

[2021-02-21 05:06] #277 closed, assigned to nobody

[2021-03-07 00:00] galkin opened #313 "[Bug] Lodash is missed at dependencies"
After `npm install --production` package is broken, because of unresolved lodash.
There are two options for resolving:
1) rewrite [this part](https://github.com/bukhalo/nestjs-telegraf/blob/master/lib/services/base-explorer.service.ts#L3)
2) Add lodash at dependencies

@bukhalo, what do you prefer? Do you need help with this issue?

[2021-03-07 01:44] evilsprut commented on #313
Hey, @galkin! Thanks for finding this issue. I think we can add `lodash` as an dependency. I don't need any help for that, but if you send me a PR, I'd be happy to merge it.

[2021-03-07 22:38] #313 closed, assigned to nobody

[2021-03-10 11:43] MyWay opened #322 "@Start and events not fired"
Hello, I'm trying the small piece of code on the README, but events are never fired. I'm decorating the class with @Update(), the method for the /start command with @Start() and so on for commands with @Command(). The constructor of that class is correctly fired and I see no errors. Any idea?

[code]

[2021-03-10 14:32] evilsprut commented on #322
I tried your example and it works for me. Tell me, `AppUpdate` class is included as a provider in the `AppModule`? `telegraf` and `nestjs-telegraf` version?

[2021-03-10 15:00] MyWay commented on #322
Yes, AppUpdate is included:
[code]
`"telegraf": "^4.2.1"` and `"nestjs-telegraf": "^2.2.2"`

[2021-03-10 20:55] MyWay commented on #322
I have cloned your repository, set my bot token and tried your sample. It's not working for me, but at least I'm getting an error at start, there:
[code]
Which seems related to Telegraf library/API. Any idea why this is happening?

[2021-03-10 21:33] evilsprut commented on #322
@MyWay looks like a not `nestjs-telegraf` problem. Here's what I can suggest:
1. Try to run `telegraf` without `nestjs-telegraf` for exclue `nestjs-telegraf` specific problems.
2. Try to debug `telegraf`, simply run `export DEBUG='telegraf:*'` command before starting project with `nestjs-telegraf` or `telegraf`.

[2021-03-10 21:34] evilsprut commented on #322
Also, i see `at Telegram.callApi (/test/nestjs-telegraf/sample/01-complete-app/node_modules/telegraf/lib/core/network/client.js:259:19)` error. It seems to me that you just don't have access to the Telegram Bot API, maybe it's blocked by your ISP or something like that.

[2021-03-10 22:09] MyWay commented on #322
Maybe something with my newly generated bot token. I'll wait tomorrow, as it seems now your sample is working, while mine still not. Thanks for the help.

[2021-03-11 01:37] MyWay commented on #322
In the end the problem was both with the token initially not working and for `await app.listen(3000);` inside `main.ts`, which I had removed (I thought I could remove it).

[2021-03-11 01:37] #322 closed, assigned to nobody

[2021-03-30 06:15] meowlanguages opened #350 "How to use wizard?"
I have no idea how to use wizard on my scene.
Please add more examples.

[2021-03-30 06:16] meowlanguages commented on #4
Documentation is too pure

[2021-03-30 06:26] meowlanguages commented on #72
Nothing helpful, it didnt work

[2021-03-30 13:14] galkin commented on #4
this comment looks not friendly and no actionable. Such comments demotivate open source developers, which contribute to open source for free.

@meowlanguages, could you provide more actionable and friendly communication? For example, https://github.com/bukhalo/nestjs-telegraf/issues/350 is actionable.

[2021-03-30 21:42] evilsprut commented on #350
Hey @meowlanguages! I've never used the Wizard and probably can't help it, but you can do whatever you want with `Telegraf` by injecting `Telegraf` instance directly with `@InjectBot()` decorator.

Also, @Morb0 may be you can help?

[2021-03-30 21:45] evilsprut commented on #4
Yes it is. Unfortunately, I don't have enough time to do everything well. But! This is FOSS, you can always get involved and contribute to make the documentation or code better.

[2021-03-30 21:58] Morb0 commented on #350
You can inject `TELEGRAF_STAGE` provider, create a wizard scene as usual, and register it in `Stage`.

Example:
[code]

[2021-04-01 12:53] khadishi opened #352 "Override error handling"
hi
i need to override error handling in create-bot-factory.util.ts , for example:

LINE 8: bot.catch(options.handleError)

[2021-04-04 12:35] felinto-dev opened #355 "UnhandledPromiseRejectionWarning: TypeError: Telegraf: "reply" isn't available for "inline_query""
I receive the error ```UnhandledPromiseRejectionWarning: TypeError: Telegraf: "reply" isn't available for "inline_query"``` when I try to use inline queries.

I looked at the project's examples folder and didn't find any examples of how to use inline query.

I believe that this package is returning ctx.reply by default, which causes the error.

This is the code that I use in my application.

[code

[2021-04-05 16:58] evilsprut commented on #355
Hey, @felinto-dev thx! I need a little time to find the problem, I will answer later.

[2021-04-05 17:00] evilsprut commented on #352
Hey, @khadishi! To catch errors you can use exeption filters. For example, see sample directory of this repository.

[2021-04-05 20:06] khadishi commented on #352
Dear, @bukhalo i need to handle bot.launch error, for example:
FetchError: request to https://api.telegram.org/[REDACTED]/getMe failed, reason: connect ECONNREFUSED proxy:8080

[2021-04-06 20:29] evilsprut commented on #352
@khadishi you can manually inject `Telegraf` (bot) instance and set `bot.catch` anywhere you want, in some provider, root module or in you entrypoint file.

[2021-04-09 20:56] felinto-dev opened #357 "[Question] How to use webhooks with Telegraf + NestJS"
Hello!

I would see an example about how to use webhooks 🙏

This is what I tried:

app.module.ts
[code]

My nestjs application is listening on port 3000 and I am using NGROK to get an HTTPS address on port 8080.

When I configure it this way, no error is displayed on the screen, but the bot commands just don't work. It doesn't work only means that I don't receive anything back.

[2021-04-09 21:24] felinto-dev commented on #357
Nevermind, I found the documentation
https://nestjs-telegraf.vercel.app/docs/getting-updates

So sorry
Have a good day!

[2021-04-09 21:24] #357 closed, assigned to nobody

[2021-04-15 03:08] oswebex commented on #355
@felinto-dev, it seems you're using TelegrafExceptionFilter from example. So when your code throw error the filter is gonna try to send error by reply in inline mode, so you get this error.

Try to update TelegrafExceptionFilter
[code]

[2021-04-16 02:28] felinto-dev commented on #355
Helo!

That was exactly my problem! Thank you very much.

It is the first time that I have seen the "return avoid" syntax. Did you write right? I adapted your code to my needs. I hope I can help others :)

[code]

Error message template

[code]

[2021-04-17 21:22] oneassasin opened #362 "Cannot build typescript files with nestjs-telegraf"
Screenshot: http://joxi.ru/Dr8ORkjcMgJdzA

[2021-05-06 16:44] manuelscurti opened #376 "Getting "context type: telegraf not supported""
Hello!
I am using Telegraf 4.3.0 and nestjs-telegraf 2.2.2.
I am creating a bot which uses a custom context, and for doing so I extended Context.
![image](https://user-images.githubusercontent.com/23557705/117335047-9ef13c00-ae92-11eb-872f-69eb0fb8ec2e.png)

To test if everything works I created a sample @ Start command handler as follows:
![image](https://user-images.githubusercontent.com/2355770

[2021-05-14 16:58] evilsprut commented on #376
Hi @manuelscurti, can you create a repository with an error example for I can look at the code?

[2021-05-14 16:59] evilsprut commented on #362
Looks like is not a `nestjs-telegraf` error. Can you give more context?

[2021-05-14 17:02] evilsprut commented on #355
Dudes @ioscars @felinto-dev I see you solved the problem, can i close issue?

[2021-05-14 17:04] evilsprut commented on #352
@khadishi problem solved?

[2021-05-14 17:05] evilsprut commented on #350
@meowlanguages problem solved?

[2021-05-14 19:31] felinto-dev commented on #355
Yes, you can perfectly. I'm closing the issue.

[2021-05-14 19:31] #355 closed, assigned to nobody

[2021-05-16 19:47] oneassasin commented on #362
http://joxi.ru/l2ZQ4yEU7xgpPm
incorrect code from types

[code]

[2021-05-16 22:59] manuelscurti commented on #376
Hi! Thanks for your answer. I was unable to reproduce the error. I think for now we can close this issue.

[2021-05-16 22:59] #376 closed, assigned to nobody

[2021-06-01 17:09] evilsprut commented on #362
Hey, @oneassasin is not a incorrect code. `typescript` package version in your project doesn't support this syntax. Minimal required TypeScript version for that - `4.1.2`. I also released a new version (`2.2.3`) of the package where I specified the supported TypeScript version in `peerDependencies` (https://github.com/bukhalo/nestjs-telegraf/commit/a1f441ff740bca5d144f86db94784a48be843300) . Thank

[2021-06-15 07:34] Satont opened #414 "Decorators not chainable"
@Action, @Command decorators not chainable. Will work only one of them.

Steps to reproduce:

Create some method:

[code]

 "nestjs-telegraf": "^2.2.3",
  "telegraf": "^4.3.0",

[2021-06-28 04:55] felinto-dev commented on #414
I don't think it's a good idea to be able to use multiple decorators at the same time.

In the code you submitted it just returns a "hi", but in a production application where business logic is applied, you would need to respond to the callback query with "ctx.answerCbQuery()", something that cannot be used by commands, for example.

So, you should use NestJS services to store your business logic

[2021-06-28 05:32] felinto-dev commented on #350
Hey @bukhalo 👋

Thanks for helping the community!

I'm trying to use wizard scenes too and I'm facing a lot of difficulty due to the lack of documentation and practical examples.

It's not your fault of course, but to the extent of your time and availability, could you consider adding examples of this? Much appreciated.

My big question is how to create a "Wizard Scene" in "nest way" in a way that

[2021-06-30 17:02] filipmacek commented on #350
Yes, agree. Missing wizard support and docs in nest way.

[2021-07-02 05:53] felinto-dev commented on #350
@Morb0 use wizard scene does not work because "TypeScript types". Could you help me?

[code]

![Screenshot_917](https://user-images.githubusercontent.com/32253743/124227037-65c6f800-dae0-11eb-9ff6-c99a7ff5d210.png)

![Screenshot_918](https://user-images.githubusercontent.com/32253743/124227114-84c58a00-dae0-11eb-85a5-e7d1869ab23a.png)

[code]

What TypeScript types should I use?
Could you send a f

[2021-07-02 07:33] Morb0 commented on #350
@felinto-dev As types says, you need return middleware function from `hello` method.
Somthing like this:
[code]

[2021-07-02 07:47] felinto-dev commented on #350
I would like to say thank you so much for your help!

Once this example is working I will post the full code here to help the community. Unfortunately, I'm not getting into the scene.

I get the following error:
"Cannot read property 'enter' of undefined"

![Screenshot_919](https://user-images.githubusercontent.com/32253743/124239920-93b43880-daf0-11eb-804d-e9f50ec3492f.png)

Another question is t

[2021-07-02 08:05] felinto-dev commented on #350
I guess I need to use "stage middleware", however, this example does not works

https://github.com/bukhalo/nestjs-telegraf/issues/72#issuecomment-623085469

[code]

![Screenshot_920](https://user-images.githubusercontent.com/32253743/124242403-176f2480-daf3-11eb-8856-5c784a0170c7.png)

[2021-07-02 11:01] felinto-dev commented on #350
After hours of trying to find a solution, I saw what the error was, which is not obvious at first glance.
Also, why session middleware is deprecated.
https://github.com/telegraf/telegraf/issues/1372#issuecomment-782668499

It is necessary to activate the session middleware for the scene wizard to work.

https://github.com/telegraf/telegraf/issues/309#issuecomment-362870720

https://github.com/Real

[2021-07-09 16:44] viacheslavsaloid commented on #350
Hello

Thank you very much for integrating Scenes in Decorators. It works really awesome.

It will be also helpful to add Wizard functionality

Maybe in this way ?

[code]

[2021-07-13 06:02] flyingstarlai commented on #355
hi where you exactly use 'inline_query', any project example?

[2021-07-13 12:59] felinto-dev commented on #355
I encourage you to open a new issue. I would only receive notifications about this problem.
This is OFF-TOPIC.

[2021-07-20 12:51] viacheslavsaloid opened #452 "Hot get access to ctx.scene in middleware?"
Hello

Scenes functionality works really good.

But, there is an issue: i can't get ctx.scene inside my middleware before `next()`

<img width="896" alt="Screenshot 2021-07-20 at 15 50 57" src="https://user-images.githubusercontent.com/70704363/126327185-6dee80c3-c80d-420c-89c9-01f87ac82f77.png">

I think, that issue in time, when Scene.Stage of @Scene() is called

[2021-08-03 22:21] xTCry commented on #452
Why do I need this piece of code?
If you store the user's session in the _session storage_, then after loading, the state of the scene will automatically load and the user will have the scene again...

[2021-08-03 22:31] xTCry commented on #414
For example, you can make a universal handler for the **cancel** event.

[code]

In middleware, you can make a custom safe function
[code]

[2021-08-03 22:35] felinto-dev commented on #414
I think these various IFs pollute the code a lot.

[2021-08-05 08:40] evilsprut commented on #362
https://github.com/telegraf/telegraf/issues/1411

[2021-08-05 15:16] Satont commented on #414
Make sense.

[2021-08-05 20:26] evilsprut commented on #414
@Satont, I see @xTCry make some work for that in https://github.com/bukhalo/nestjs-telegraf/pull/469 I need some time for check PR and I will write here if the functionality is implemented and I will add it to the package.

[2021-08-06 11:50] #452 closed, assigned to nobody

[2021-08-06 14:35] viacheslavsaloid opened #476 "Can't use @Update in providers and nested modules at the same time"
#289 i have an issues with this update

i can't use providers and nested updates.

If i have `@Update` in the providers - nested `@Update` will not work.

But if i delete providers - everything works fine.

[2021-08-23 04:27] ghost opened #493 "Middlewares enhancer"
Hello

I found, that we have only one way of using middlewares

`stage.middleware() // register stage`

`registerUpdates() // register updates (after stage)`

But, there is no way to setup @Use, which will call before the stage. Or @StageUse - to call use on `stage`.

I can create a PR, but i need to understand, which names of decorators to use?

[2021-08-30 08:28] renovate[bot] opened #504 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency @nestjs/schematics to v8.0.7
 - [ ] chore(deps): update dependency @types/jest to v27.4.1
 - [ ] chore(dep

[2021-09-15 13:16] Roman-Savka opened #524 "Cron didn't work"
When I try to use cron from @nestjs/schedule   - bot didn't work.
Below you can see my code:

import { Cron } from '@nestjs/schedule';
import { InjectRepository } from '@nestjs/typeorm';
import { On, Update } from 'nestjs-telegraf';
import { Context } from 'telegraf';
import { Repository } from 'typeorm';
import { TelegramBot } from './entities/bot.entity';

@Update()
export class BotService {
  c

[2021-09-15 13:45] evilsprut commented on #524
Use something like that

[code]

[2021-09-15 14:55] Roman-Savka commented on #524
Thank you for quick reply.

Issue with this code is chatId.

In code below I should put down chat_id manually, but I need to do it automatically( for example: chatId: this.bot.context.chat.id).

If I will use chatId: this.bot.context.chat.id - I will receive TypeError: Cannot read property 'id' of undefined.

Do you have solution of this?

[2021-09-15 15:05] evilsprut commented on #524
Where do you want to get the `chat_id` from? Telegraf doesn't know anything about who you want to send the message to.

You can take the `chat_id` from the Telegraf `context`, yes, but it will only be there when you get an update from the Telegram Bot API. For example, a user wrote to the bot, and you can catch that event and take the sender's `chat_id` from context.

This is not a problem with `t

[2021-09-15 15:24] Roman-Savka commented on #524
Got it.
Thank you

[2021-09-15 15:24] #524 closed, assigned to nobody

[2021-09-17 07:44] #476 closed, assigned to nobody

[2021-09-17 13:15] nikosson opened #529 "Can not install for nest.js 8.0"
Hi.
Unfortunately, I cannot install your library having nestjs version 8.0.
Here is my package.json:
[code]
**Error:**
![Знімок екрана 2021-09-17 о 16 13 03](https://user-images.githubusercontent.com/10366557/133788563-4505c2a2-0c04-4ef3-8ec8-31a668e9cdf9.png)

**How to reproduce:**
1. Install nestjs of last major version.
2. Install your library via `npm i nestjs-telegraf telegraf`

[2021-09-23 07:28] evilsprut commented on #529
Hi! I will be able to release the update in a couple of weeks.

[2021-10-01 12:59] evilsprut commented on #529
Done in v2.4.0

[2021-10-01 12:59] #529 closed, assigned to nobody

[2021-10-01 13:00] evilsprut commented on #414
Done in v2.4.0

[2021-10-01 13:00] #414 closed, assigned to evilsprut

[2021-10-01 13:02] evilsprut commented on #350
Wizard support added in v2.4.0, see on @xTCry code for example.

[2021-10-01 13:02] #350 closed, assigned to nobody

[2021-10-01 13:02] #352 closed, assigned to nobody

[2021-10-02 06:30] felinto-dev commented on #350
Could you send the direct link for example please?

[2021-10-02 12:57] felinto-dev commented on #350
Maybe I found it?

Look the README.MD

https://github.com/xTCry/ts-telegraf-decorators

[2021-10-07 13:52] ahnennyi commented on #350
Working example: https://github.com/bukhalo/nestjs-telegraf/pull/469#issuecomment-902583496

Simplified example:
1. Create a wizard using Wizard and WizardStep decorators.
[code]

2. Configure TelegrafModule and add TestWizard to your module providers.
[code]

3. Enter wizard by calling ctx.scene.enter, e.g.:
[code]

[2021-10-25 18:55] nemcikjan opened #600 "More @Update classes in different modules"
Hi,

I have following setup:

AppModule:
[code]

AppUpdate:

[code]

then I have another module where I have another Update class

[code]

the issues I'm facing is that whenever I type /command in bot chat, it's caught by @On('message) handler in AppUpdate. When I comment out 'message' handler in AppUpdate, everything is working as expected and 'command' is handled properly. Do you have any sugges

[2021-10-26 10:04] felinto-dev commented on #600
You can use REGEX to get all text, EXCEPT when starts with "/"

![image](https://user-images.githubusercontent.com/32253743/138856502-a3e8ee9e-b613-4c57-beeb-6e872db899f3.png)

Instead:
`@On('message')
`
You should use:
`@Hears(/^(?!\/).*/)
`
Let me know if it works for you.

[2021-10-26 10:09] felinto-dev commented on #493
Did you already try it?

`main.ts`

[code]

Source: https://nestjs-telegraf.vercel.app/getting-updates

PS: I did a test using the "session()" middleware and it worked as expected.

[2021-10-26 19:22] filipmacek commented on #600
I've also observe this. You only can have one update class

[2021-11-06 12:07] ghost commented on #493
@felinto-dev Hello

Thank you for answer. I see how i can fix my problem with your way. But for this one, it will be complicated to use service methods.

Maybe it's better to add decorators for `use`, Which will be call before the stage.middleware() or on stage

Just for now we a little bit limited

[2021-11-06 12:14] ghost commented on #600
@JanNemcik @filipmacek

I think, it's not a library issue. It's how telegraf works.

If you register global @Update inside your AppModule then it will firstly catch all incoming messages.

You can get second parameter inside your `function onMessage (ctx, next) { }` and just call `next()` after the function. In this way, it will call next update.

But, probably, it's a better way to use different

[2021-11-18 14:09] felinto-dev opened #624 "How to inject Request (Telegram Context) ?"
Hey!

https://docs.nestjs.com/fundamentals/injection-scopes#request-provider

I am developing a plugin for nestjs-telegraf
(still in alpha)
https://github.com/felinto-dev/tg-menu

And I have an advanced use-case. I need to inject the Telegraf request in a class like is possible in HTTP. Check the link above.

How I could do that using nestjs-telegraf?

Example

Expected solution:
[code]

[2021-11-24 22:44] evilsprut commented on #624
@felinto-dev I'm very glad someone is taking advantage of what I've done. Unfortunately right now I don't have the opportunity to deal with the module and I can't tell you how to solve your problem. If you need fixes, be sure to send PR or someone else can help.

[2021-12-03 11:25] totoblabla3 opened #643 "How to create a custom parameter decorator?"
[code]

[2021-12-08 09:31] evilsprut commented on #643
See https://github.com/bukhalo/nestjs-telegraf/blob/master/sample/01-complete-app/src/common/decorators/update-type.decorator.ts

[2021-12-28 11:28] MufassirShaw commented on #362
Hello @bukhalo, thanks a lot for the package.
Apparently this issue seems to have comeback in the latest versions. I'm using

nestjs-telegraf: `^2.4.0`,
telegraf: `^4.5.2`
typescript: `^4.3.5`

Here is what I see as soon as I import anything from `nestjs-telegraf`

![image](https://user-images.githubusercontent.com/30889549/147561214-3015d272-221d-4e2c-9e66-77d495e926ad.png)

Thanks

[2022-02-01 02:42] StackTraceYo commented on #350
is there an example with callback_data in a button. im not able to get any data from the callback buttons when i move between steps

[2022-03-05 10:58] DzenDyn opened #734 "Documentation site doesnt work"
Hello!
https://nestjs-telegraf.vercel.app/ doesnt work.
![image](https://user-images.githubusercontent.com/5627754/156880259-46528fc7-d16a-42af-8960-5e145e3fd1d4.png)

[2022-03-17 11:10] aidarnurakov commented on #362
Hello @MufassirShaw  have you solved that issue already?

[2022-03-19 07:42] MufassirShaw commented on #362
Hi @AidarNurakov.

I couldn't find a way around this issue in the latest package. Only downgrading the package version worked for me.

Here are the version i'm using.

nestjs-telegraf" `2.4.0`,
telegraf": `4.4.2`,
typescript: `4.4.4`

You may use these exact versions for now and upgrade it once the issue is fixed.

I hope this helps :)

[2022-03-21 09:53] #504 closed, assigned to nobody

[2022-03-21 10:10] evilsprut commented on #734
Fixed, thx!

[2022-03-21 10:10] #734 closed, assigned to nobody

[2022-03-21 10:15] #624 closed, assigned to nobody

[2022-03-21 10:16] #643 closed, assigned to nobody

[2022-03-23 11:16] evilsprut commented on #362
Hey dudes. Yes, there is a problem. I noticed it when the [typescript update](https://github.com/bukhalo/nestjs-telegraf/pull/759) came in. As far as I understood the last working version of typescript is `4.4.4`. I will try to solve the problem in the near future.

[2022-04-08 03:58] StackTraceYo opened #777 "using wizard"
is there an example with callback_data in a button. im not able to get any data from the callback buttons when i move between steps using the wizard.

I used the example from #350 but I cant seem to get the call back data to pass through between steps. any help would be appreciated!

[2022-04-11 10:57] evilsprut commented on #600
This is not a problem with `nestjs-telegraf` or `telegraf`, read the documentation before using the library. If you need to continue executing middlwares, use the `@Next` decorator. Something like that:

[code]

[2022-04-11 10:57] #600 closed, assigned to nobody

[2022-04-13 19:34] ahnennyi commented on #350
If I understood you correctly, here is an example:

[code]

Note that using `ctx.wizard.steps[ctx.wizard.cursor](ctx)` is a little hack to call step 2 immediately after pressing the button. Without this user would need to send another message to call step 2.

[2022-04-22 09:25] Aziz87 opened #790 "Test server"
For using test server you can
modify the token string like this
1111111111:AAAAAAAAAAAAAAAAAAAAAAAAAA/**test**

[2022-04-22 10:51] #790 closed, assigned to nobody

[2022-06-14 14:16] 360disrupt opened #845 "Context Duplicate Declaration in Example"
From the github:

[code]

Shouldn't be the second Context e.g. `ContextType`?

[2022-06-24 08:12] aaabramov opened #852 "BUG: only one handler is being called"
If you register several handlers (not strictly the same) only the first defined is being called:

_app.update.ts:_
[code]

---

**Result:**
<img width="836" alt="image" src="https://user-images.githubusercontent.com/11317222/175493093-e54625f5-aa1a-40eb-92cd-6e05584f1357.png">

---

I would expect that all these matching handlers will be called. Is it designed to behave like this? E.g.:
[code]

Is

[2022-06-25 10:23] Daniyar111 opened #854 "how to work with multiple bots?"
I have 2 bots which are initialized in `app.module.ts`:
[code]

And I have `bot.module.ts` which is
[code]

and it should work with `@Update() class` with `admin.update.ts` and `client.update.ts`:
[code]

[code]

but there is no answer in bots. If I change `BotModule` to
[code]
is working just with `admin.update.ts`

[2022-06-25 11:38] Daniyar111 commented on #854
Solved it by dividing into 2 modules: `AdminBotModule, ClientBotModule`. And `include: [AdminBotModule]` to `admin` `TelegrafModule.forRootAsync()`, and `include: [ClientBotModule]` to `client` `TelegrafModule.forRootAsync()`

[2022-06-25 11:38] #854 closed, assigned to nobody

[2022-06-28 11:03] aaabramov commented on #852
@bukhalo could you please take a look at this one? I can update the docs after getting an answer is needed.

[2022-06-28 19:08] evilsprut commented on #852
@aaabramov Hi! It's not a bug, it's a feature) You should check the Telegraf documentation. If one of the handlers is triggered, the other handlers are not processed. To continue execution, you need to call the `next()` function in the middleware. To access the `next` function, use the decorator of the same name.

[2022-06-29 10:38] evilsprut commented on #845
Thx, this section removed from readme.

[2022-06-29 10:38] #845 closed, assigned to nobody

[2022-06-29 10:38] #852 closed, assigned to nobody

[2022-07-07 18:42] #493 closed, assigned to nobody

[2022-07-10 17:58] 0ttik opened #876 "support nestjs v9"
Add support for nestjs v9. It _seems_ no breaking changes are introduced for this lib.

[2022-07-16 19:00] bibakid commented on #4
I spent all day trying to understand how connect Scenes. I read all issues and nothing helped, even this didnt help https://habr.com/ru/company/tinkoff/blog/596287/ . They didnt show how to connect Scene outside. Please write some documentation, you did great job but it makes no value when people dont understand how to use it.

[2022-07-16 20:32] evilsprut commented on #4
@Gewalt79 If you open the [Telegraf documentation](https://telegraf.js.org), you will understand where this problem comes from. As you understand, the original library has nothing about scenes, router or composer. `nestjs-telegraf` does not do anything on top of the original library, it is just an integration. I think your question belongs in the Telegraf repository.

In the end, the choice of Tel

[2022-07-22 13:16] lasthead commented on #854
@Daniyar111 , Hi! Could you share a more detailed code of your main app.module and AdminBotModule? I trying add a second Bot to my app, but it doesn't work :(

[2022-07-22 14:34] Daniyar111 commented on #854
@lasthead Hi!

**app.module.ts**:
[code]

**client-bot.module.ts**:
[code]

**admin-bot.module.ts**:
[code]

[2022-07-22 16:30] lasthead commented on #854
@Daniyar111 , many thanks! However, I don't quite understand what to specify in middleware to divided requests from each other?

For example:
in **app1.app.update.ts**
`@Start()
  async startCommand(ctx: Context) {
    await ctx.reply('test')
  }`

in **app2.app.update.ts** i have the same method and they conflict with each other

I think I misunderstand the concept and... maybe this check needs t

[2022-07-23 17:11] Daniyar111 commented on #854
@lasthead If you did `app.module` and `bot1.module, bot2.module` as I wrote, it must not conflict with each other.. could you share your more detailed code?

Nothing need to add there.. I added just sessions to middleware, it doesn't affect to requests

no check needed..

just divide your code structure to
[code]
So they must work independent of each other

[2022-07-25 08:32] lasthead commented on #854
@Daniyar111 , After your comment, I rechecked my code again and... found my error. I just missed row: `imports: [bot.module]`, to `TelegrafModule.forRootAsync({ ... })` that's all 🙂. Now it works correctly.
Thank you for your help!

[2022-07-31 02:37] fabiangamboa95 commented on #876
Yep. Me waiting

[2022-08-04 16:41] evilsprut commented on #876
Done in `2.6.0`

[2022-08-04 16:41] #876 closed, assigned to nobody

[2022-08-04 16:53] #362 closed, assigned to evilsprut

[2022-08-04 16:53] #777 closed, assigned to nobody

[2022-08-09 20:08] Khuzha opened #894 "How to globally override catch function?"
Is it possible to override catch function for whole bot, not in every place I need it through injecting and redefining .catch()?

[2022-08-10 11:17] LWJerri opened #895 "`scene` undefined"
Hello! I wanna use `ctx.scene.enter("auth");`, but scene is undefined.

auth.scene.ts
[code]

start.command.ts
[code]

context.interface
[code]

Thanks.

[2022-08-10 12:25] LWJerri commented on #895
For scenes, I need defined sessions.

[2022-08-10 12:25] #895 closed, assigned to nobody

[2022-08-18 15:21] legitimoth opened #896 "Migrating to Webhook"
Hello!
I'm currently using nestjs-telegraf though long-polling..

I've implemented using decorators, for example:

[code]

It work just fine.
Now, I'm trying to use webhook. Using webhook I've to use `@Ctx()` and type it as Context :

[code]

The problem is: the ctx object (Context) that I receive by parameter isn't the same that I receive using long-polling.

The method ctx.telegram.sendMessage f

[2022-08-23 07:27] Hambay opened #898 "Using global visibility handlers"
Hi, I want to use some command and action handlers as global so that they work regardless of the user's current scene.

In my telegraph bot I implemented it like this.

[code]

[code]

How do I do this with nestjs-telegraf?

[2022-08-23 08:45] Hambay commented on #898
It would be great if we had a GlobalUpdate decorator that would be processed before the scenes

[2022-08-24 06:57] webpct opened #900 "Webhook integration example"
Hi, Do you have any examples of webhook usage?
I got telegram messages to my endpoint, but Update and other directives are not working.

[2022-08-24 07:45] webpct commented on #896
Hi, it's because you are trying to get an HTTP request, but you don't need it. You need only configure webhook like here, and your code base should work as it was before: https://nestjs-telegraf.vercel.app/getting-updates

[2022-08-24 07:47] webpct commented on #900
The issue was - missed configuration.
I added `app.use(bot.webhookCallback('/bot'));` after `await app.listen(3000);` but it should be before

[2022-08-24 07:47] #900 closed, assigned to nobody

[2022-08-24 09:42] legitimoth commented on #896
But what I'm suppose to set here:

[code]
 I thought that I must create a endpoint to receive the calls and set it in domain/endpoint. If not, what should I set there when I've nothing but  annotations like @on("text")

[2022-08-24 13:51] #894 closed, assigned to nobody

[2022-08-24 14:28] webpct commented on #896
You don't need to set up endpoint on your own. You need to set `launchOptions` with the correct values. Note, in the hook path you could specify the full path, example bellow.
[code]

After that, in your main file, you need setup middleware, example bellow:
[code]
And after that setup, all requests that are sent to /bot, will be processed by annotations :)

[2022-08-24 19:23] legitimoth commented on #896
I tried but didn't work. My `main.ts` :

[code]

My module:

[code]

I don't know if it matters but my annotations are within services and not controllers. I don't actually have controllers.

[code]

[2022-08-25 05:38] evilsprut commented on #896
@tharbts if you use ngrok2 free version, it won't work. Because ngrok requires a special header to be sent

[2022-08-25 21:04] legitimoth commented on #896
So, I did everything correctly? I set `hookPath` with my root application url (that doesn't have any endpoint created (controller)) and the service methods masked with annotations `@on('text')`, `@start()` and `@on('contact')` is gonna to listen any message sent to bot?

The code above when I send any message to bot nothing happens, so the only problem is that I'm using ngrok free, if I publish th

[2022-08-29 15:05] ddtch opened #926 "Scenes usage"
Hello, my issue is more about the question of how to work with scenes?
This part is really not described well in docs.

I was trying to create scene like this

[code]
But after I add `SceneEnter` decorator, I see an error.

[code]

Any Ideas, advices ?

[2022-09-08 08:21] Form1ca opened #937 "dont work"
"@nestjs/core": "8.4.1",
"nestjs-telegraf": "^2.6.1",
"telegraf": "^4.9.1",
"typescript": "^4.8.2"

`node_modules/nestjs-telegraf/dist/types/index.d.ts:6:158 - error TS2344: Type 'T[U]' does not satisfy the constraint '(...args: any) => any'.
  Type 'T[OnlyFunctionPropertyNames<T>]' is not assignable to type '(...args: any) => any'.
    Type 'T[T[keyof T] extends (...args: any) => any ? keyof T :

[2022-09-08 08:50] Maks1mS commented on #937
Try to downgrade Typescript version https://github.com/hypeertech/nestjs-telegraf/issues/362#issuecomment-1076249546.

I have already fixed this bug, but this fix will be in the next version (probably).

[2022-09-14 23:25] legitimoth commented on #896
Guys in the first try my mistake was that I created the endpoint that I set on hookpath.
The second try my mistake was set the root url as hookpath.

The correct is set as hookpath a fake endpoint like:
HTTPS://your-application-url/fakeEndpointHere

The telegraf will create that endpoint automatically and you need do nothing else. Just set the settings like the @webpct said.

[2022-09-14 23:25] #896 closed, assigned to nobody

[2022-09-20 09:30] evilsprut commented on #937
@Form1ca please, update to `nestjs-telegraf` v2.6.2. This problem fixed by @Maks1mS in that version.

[2022-09-20 09:30] #937 closed, assigned to nobody

[2022-09-24 17:12] javeoff opened #952 "Webhooks respond empty data"
I am using telegraf-test library for e2e testing. It is my first experience, and I dont know which libraries may be better for that.
After including webhook to the server via constructor, my testing script successful sent signals to them and application ran methods with sending telegram messages to me. But in this case axios request (from telegraf-test) respond with empty data.

<img width="1440"

[2022-10-13 18:43] dDenysS opened #966 "../src/tcp_wrap.cc:149:static void node::TCPWrap::New(const v8::FunctionCallbackInfo<v8::Value>&): Assertion `args[0]->IsInt32()' failed."
### npm -v
8.15.0

### node -v
v16.17.1

### **package.json**
"nestjs-telegraf": "^2.4.0",
 "telegraf": "^4.8.2"

###  OS/Docker image
 From node:16-alpine

 Code

[code]
After sending the command(`/help`) i get an error: `node[268]: ../src/tcp_wrap.cc:149:static void node::TCPWrap::New(const v8::FunctionCallbackInfo<v8::Value>&): Assertion `args[0]->IsInt32()' failed.`

`this.bot.command('start',

[2022-10-13 18:50] dDenysS commented on #966
[code]
It is work.
if you remove `Context`, everything works

[2022-10-13 18:54] dDenysS commented on #966
Need use Scenes.SceneContext

[code]

[2022-10-13 18:54] #966 closed, assigned to nobody

[2022-11-15 17:53] nizyumka opened #990 "Error handling"
### Discussed in https://github.com/hypeertech/nestjs-telegraf/discussions/987

<div type='discussions-op-text'>

<sup>Originally posted by **izumovn** November 12, 2022</sup>
Error handling when telegram unavailable error and application crash when module is initialized?

Example app crashed
![IMAGE 2022-11-12 23:59:32](https://user-images.githubusercontent.com/29820873/201490372-bc823cba-c00d-4b

[2022-11-20 08:36] golubvladimir opened #993 "The start message is not sent"
I created small bot, but I have problem with start message

My example - https://github.com/golubvladimir/nestjs-telegraf-bot

When I use only telegraf in main.ts, it works.

[code]

[2022-11-24 09:35] UsVfxArtia commented on #993
same

[2022-11-26 13:30] zokeoner commented on #993
Try installing version telegraf@4.10.0

[2022-11-27 05:07] skyArony commented on #993
same

"nestjs-telegraf": "^2.6.2"
"telegraf": "^4.11.2"

[2022-11-28 09:52] UsVfxArtia commented on #993
up

[2022-11-28 09:54] gianda commented on #993
It works with version telegraf@4.10.0, not with ^4.11

[2022-11-28 13:29] skyArony commented on #993
"telegraf": "4.10.0",
"nestjs-telegraf": "^2.6.2",

It works